
/*
 ---guide---
header: 65px
content: pt-5 pb-5
*/

body{
    background-color: #FCFCFC;
}

.content{
  margin-top: 65px;
}

.bgWhite{
  background-color: #ffffff;
}

.cardStyle{
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .1);
  border-radius: 3px;
  /* padding: 2em; */
}

/* navbar */
.navbar{
    height: auto; 
    background-color:#ffffff; 
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
}

.nav-item{
  align-items: flex-start;
}

.nav-link{
  color:#2AACCC; 
  font-weight:300;
}


/* breadcrumb */

.breadcrumb{
  background-color: rgba(0,0,0,0);
}

.breadcrumb-item a{
  color:#2AACCC;
}

/* text */
/* slogan */
.text_slogan{
    font-size:1.8rem; 
    color:#032B43; 
    letter-spacing:.1em;
}

/* subtitle */
.text_subtitle{
  font-size:1.4rem; 
  letter-spacing:.05em; 
  font-weight:400;
  line-height:2em; 
  color: #032B43;
}
/* description */
.text_description{
    letter-spacing:.05em; 
    font-weight:300;
    line-height:1.8em; 
    color: #032B43;
}
/* number */
.text_number{
  font-size: 4em;
  color: #34ACCA;
  font-weight: 600;
  letter-spacing: .1em;
}


/* bg */
.bg-card-1{
  padding: 2em;
}
.bg-card-3{
  overflow: scroll;
  display: inline-flex;
  width: 100%;
  height: 360px;
  border: #f5f5f5 2px solid;
  flex-direction: column;
}

/* .divider{
  width: 2px;
  background-color: rgba(0,0,0,.1);
  border-radius: 100em;
}
.divider-row{
  height: 2px;
  background-color: rgba(0,0,0,.1);
  border-radius: 100em;
} */

#cardDec{
  position: absolute;
  bottom: 0;
  left: 0;
  width:100%;
  height: 130px;
  background: rgba(42, 172, 204, .1);
  border-radius: 3px;
  -webkit-clip-path: polygon(0 78%, 100% 59%, 100% 100%, 0% 100%);
  clip-path: polygon(0 78%, 100% 53%, 100% 100%, 0% 100%);
}



/* button*/
/* cta */
.btn-cta{
  background-color: #FBCC31;
  color: #ffffff;
  letter-spacing: .1em;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, .08)
}
.btn-cta:hover{
  background-color: #FBCC31;
  color: #F7F7F7;
}
.btn-cta:active{
  background-color: #FBCC31;
  color: rgb(155, 155, 155);
}




/* product page*/
/* product page (general) */

.productCard{
  position: relative;
  display: inline-flex;
  margin-left: 65px;
}

.productCardLeft{
  box-shadow: 1px 0px 0px rgba(0, 0, 0, .05);
}

.productCardRight{
  padding: 24px 20px 24px 20px;
}

.productName{
  height: 50px;
  background: #ffffff;
  border-top-left-radius: 3px; 
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.productName h4{
  color: #34ACCA;
  letter-spacing: .04em;
  font-weight: 400;
  margin-bottom: 0;
  margin-left: 15px;
}

.productImage{
  overflow: hidden;
  padding: 0;
  display: flex;
  align-items: center;
}

.productImage img{
  width: 100%;
}

.productList{
  list-style: none;
  padding: 0;
}

.listItem p{
  color: #032B43;
  font-weight: 300;
  display: inline-flex;
  margin-bottom: 8px;
}

.btn-info{
  position: absolute;
  right: 28px;
  bottom: 29px;
  width: auto;
  height: 40px;
  background: #2AACCC;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .1);
  display: inline-flex;
  align-items: center;
  z-index: 100;
  /* -moz-border-radius: 100px; */
  /* -webkit-border-radius: 100px; */
  /* border-radius: 100px; */
  /* 等到mobile時要用的 */
}

.btn-info p{
  margin-bottom: 0px;
  padding-right: 5px;
}


/* detail page */
/* detail page (general) */

.detailSection{
  height: 500px;
} /* 有待更改，應和螢幕高度相同*/

.detailImage{
  /* padding: 8px; */
  /* border: #34ACCA 4px solid; */
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .1);
  width: 100%;
  height: auto;
}

.detailName{
  background: #ffffff;
  /* border: #34ACCA 2px solid; */
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .1);
  padding: 16px 24px 16px 24px;
  flex-direction: column;
  position: relative;
}

.detailName h3{
  /* color: #424242; */
  color: #34ACCA;
  font-weight: 400;
}


.detailName p{
  margin-bottom: 0;
  /* color: #34ACCA; */
  color: #424242;
  font-weight: 300;
}

.btn-contact{
  position: absolute;
  top: 22px;
  right: 20px;
  z-index: 100;
}

.detailContent{
  flex-direction: column;
  padding: 0 24px 0 24px;
}

.detailContentTitle{
  /* background: #f5f5f5; */
  /* border-bottom: #F5F5F5 2px solid; */
  padding: 16px 0px 16px 0px ;
  /* font-size: 1.1em;  */
  font-weight: 400;
}

.divider{
  background: #f5f5f5;
  height: 3px;
  width: 100%;
}

.detailContentIntro{
  line-height: 1.8em;
  padding: 24px 0px 24px 0px ;
  color: #424242;
  font-weight: 300;
}

/* contact */
.contact-card{
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 40px;
  height:auto;
}
.btn-info-call{
  top:-23px;
  align-self: center;
  /* z-index: 100; */
}
#contact-title{
  color: #34ACCA;
  font-weight: 500;
  font-size: 1em;
  padding: 24px;

}
#contact-content{
  padding:16px;
  color: #032B43;
  font-weight: 400;
  font-size: 1.2em;
} 
  /* size: mobile */
  @media (max-width: 540px) { 
    .media{
      display: block;
    }
    .nav-item{
      height: 40px;
    }
    .navbar-nav{
      padding-top: 24px;
    }
    .img_product{
      height: 280px;
    }
    .productText ul{ 
      margin-bottom: 40px;
    }
    .text_slogan{
      font-size:1.3rem; 
    }
    .navbar-brand{
      position: absolute;
      left: 10%;
    }
  


  
  }