
/*
 ---guide---
colors:
#34ACCA
header: 65px
content: pt-5 pb-5
class naming style: 
  col -> offset -> m -> p -> component -> customized
*/

body{
  transition: .25s ease-in-out;
  background-color: #FCFCFC;
}

.content{
  margin-top: 65px;
}

/* -----header style----- */
/* header style (general) */

.header{
  width: 100vw;
}

.navbar{
  height: auto; 
  background-color: #ffffff;
  /* background-color: rgba(100,100,100,0); */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
}

.nav-item{
  align-items: flex-start;
}

.nav-link{
  color: #2AACCC; 
  font-weight: 300;
}

.navbar-toggler, .navbar-toggler:active{
  border: none;
  box-shadow: rgba(0, 0, 0, .0);
}

/* size: mobile */
@media screen and (max-width: 576px) {
  .nav-item{
    height: 40px;
  }

  .navbar-nav{
    padding-top: 20px;
  }

  .navbar-collapse ul li a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: rgba(0,0,0,.05) 1.3px solid;
  }

}

/* -----footer style----- */
/* footer style (general) */
.footer{
  width: 100%;
  /* background: hsl(0, 0%, 99%);   */
  /* background: #2AACCC; */
  background-color: #ffffff;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, .1);
  
}

.footerProduct{
  
}

@media screen and (max-width: 576px) {
  .footerProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footerContact{
  
}

.footerProduct > h5,
.footerContact > h5 {
  color: #34ACCA;
  letter-spacing: .04em;
  font-weight: 400;
  padding-bottom: 15px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.footerProduct > h5::after,
.footerContact > h5::after {
  content: '';
  display: block;
  width: 80px;
  height: 2.5px;
  background-color: #2AACCC;
  margin-top: 10px;
}

.footerContactContent > p {
  font-size: 12px;
  color: #032B43;
  font-weight: 300;
  display: inline-flex;
  margin-bottom: 4px;
}

.footerProductContent {
  width: 65%;
  display: inline-flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .footerProductContent {
    justify-content: center;
  }
}

.footerProductContentItem {
  margin-bottom: 1px;
  margin-right: 10px;
}

.footerProductContentItem > a {
  font-size: 12px;
  color: #032B43;
  font-weight: 300;
  transition: all .2s;
}

.footerProductContentItem > a::after {
  content: '';
  display: block;
  width: 95%;
  height: 1.5px;
  background-color: #FFFFFF;
  margin-top: 2px;
  transition: all .2s;
}

.footerProductContentItem > a:hover::after {
  background-color: #2AACCC;
  transition: all .2s;
}

.footerProductContentItem > a:hover {
  color: #2AACCC;  
  text-decoration: none;
  transition: all .2s;
}

.footerPolicy{
  background: hsl(0, 0%, 97%);
}

.footerPolicy > h5{
  font-size: 14px;
  color: #0F2B45;
  font-weight: 200;
  letter-spacing: .08em;
  margin-bottom: 4px;  
}


/* -----breadcrumb----- */
/* hidden when less than sm */
.breadcrumb {
  padding: 12px 12px 8px 8px;
  background-color: rgba(0,0,0,0);
}

.breadcrumb-item a {
  color:#2AACCC;
}

@media screen and (max-width: 576px) {
  .breadcrumb {
    padding-left: 16px;
  }
}

/* -----button----- */
/* cta */
.btn-cta{
  background-color: #FBCC31;
  color: #ffffff;
  letter-spacing: .08em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .05);
}

.btn-cta:hover{
  background-color: rgb(240, 194, 45);
  color: #F7F7F7;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, .05);
}

.btn-cta:active{
  background-color: rgb(224, 180, 34);
  color: #F7F7F7;
}

/* -----index page----- */
/* index page (general) */
/* Section1 */
#indexSection1{
  overflow: hidden;
  position: relative;
  background: linear-gradient(-84deg, #0A2239 2%, #13324F 100%);
}

.indexSlogan h1{
  font-size: 2rem; 
  color: #FFFFFF;
  letter-spacing: .08em;
  line-height: 2.6rem;
  font-weight: 300;
  margin-bottom: 20px;
  margin-left: 8px;
}

.indexSlogan p{
  color: #F7F7F7;
  letter-spacing: .08em;
  font-weight: 100;
  margin-bottom: 20px;
  margin-left: 8px;
}

@media screen and (max-width: 576px) {
  .indexSlogan{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .indexSlogan h1{
    font-size: 1.8rem;
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
  }
  .indexSlogan p{
    font-size: 0.9rem;
    text-align: center;
    margin-left: 16px;         
    margin-right: 16px;    
  }
  .indexRight{
    margin-top: 32px;
  }
}

.indexIntro{
  letter-spacing:.05em; 
  font-weight:300;
  line-height:1.8em; 
  color: #032B43;
}

.btnCta{
  color: #ffffff;
  letter-spacing: .08em;
  width: 35%;
  height: 60px;
  background-color: #34ACCA;
  /* background-color: #63D4E7; */
  border-radius: 100px;
  box-shadow: 1px 5px 20px rgba(0, 0, 0, .3);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.btnCta:hover{
  color: #ffffff;
  transition: .5s;
  transition-timing-function: ease;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, .08);  
  /* background-color: #34ACCA; */
  background-color: #2DA1C2;  
}

.btnCta p{
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
  padding: 16px;
}

@media screen and (max-width: 992px) {
  .btnCta{
    width: 53%;
  }
}

@media screen and (max-width: 576px) {
  .btnCta{
    width: 40%;
    height: 56px;
  }
  .btnCta p{
    font-size: 1.1rem;
    padding: 12px;
  }
}

.indexCard{
  background: rgba(250, 250, 250, 0.96);
  border-radius: 10px;  
  width: 100%;
}

.indexRight .indexCard{
  height: 460px;
  box-shadow: 1px 5px 16px rgba(0, 0, 0, .4);
}

.indexCardTitle{
  padding: 24px 24px 12px 24px;
}

.indexCardTitle p{
  color: #0F2B45;
  font-weight: 200;
  letter-spacing: .08em;  
  margin-bottom: 4px;
}

.indexCardTitle h3{
  color: #0F2B45;
  font-weight: 400;
  letter-spacing: .03em;
}

.indexCardContent{
  padding: 0 24px 24px 24px;
}

.btnWorry{
  color: #2DA1C2;
  letter-spacing: .07em;
  font-weight: 300;
  width: auto;
  background-color: rgba(45,161,194,0);
  border: #2DA1C2 1px solid;
  border-radius: 8px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, .05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-top: 8px;
}

.btnWorry:hover{
  transition: .5s;
  transition-timing-function: ease;
  color: #F7F7F7;
  font-weight: 400;  
  background-color: #2DA1C2;
}

.btnWorry img{
  display: none;
}

#indexSection1Path{
  position: absolute;
  top: 0px;
  left: 0px;
}

/* Section2 */
#indexSection2{
  background: #ffffff;
}

.indexRecommendText h3{
  color: #0F2B45;
  font-weight: 400;
  letter-spacing: .03em;
  line-height: 2.6rem;
}

.indexRecommendText h5{
  color: #0F2B45;
  font-weight: 200;
  letter-spacing: .08em;
  margin-bottom: 4px;
}

.indexRecommendText .content{
  color: #7f7f7f;
  font-weight: 200;
  letter-spacing: .08em;
}

.indexRecommendText .bywho{
  color: #4c4c4c;
  font-weight: 200;
  letter-spacing: .08em;
  font-size: .9em;
}

/* carousel */
.carousel-control-next,
.carousel-control-prev {
  background: #FFFFFF;
  border: #2DA1C2 1px solid;
  box-shadow: 0px 0px 5px rgba(0,0,0,.15);
  opacity: .7;
  width: 3%;
  height: 20%;
  top: 40%;
}

.carousel-control-prev {
  left: -1px;
  border-radius: 0px 100px 100px 0px;
}

.carousel-control-next{
  right: -1px;  
  border-radius: 100px 0px 0px 100px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover{
  transition: .5s;
  transition-timing-function: ease;
  background-color: #2DA1C2;
}

@media screen and (max-width: 768px) {
  .carousel-control-next, 
  .carousel-control-prev {
    width: 4%;
  }
}

@media screen and (max-width: 670px) {
  .carousel-control-next, 
  .carousel-control-prev {
    width: 5%;
  }
}

@media screen and (max-width: 576px) {
  .carousel-item .row{
    display: flex;
    flex-direction: column-reverse;
  }
  .carousel-control-next, 
  .carousel-control-prev {
    width: 6%;
    height: 14%;
    top: 43%;
  }
}

@media screen and (max-width: 410px) {
  .carousel-item .row{
    display: flex;
    flex-direction: column-reverse;
  }
  .carousel-control-next, 
  .carousel-control-prev {
    width: 7%;
    height: 10%;
    top: 45%;
  }
}

/* Section3 */
#indexSection3{
  overflow: hidden;
  position: relative;
  background: linear-gradient(-84deg, #0A2239 2%, #13324F 100%);  
}

.indexAbout h1{
  font-size: 2rem; 
  color: #FFFFFF;
  letter-spacing: .08em;
  line-height: 2.6rem;
  font-weight: 300;
  margin-bottom: 28px;
  margin-left: 8px;
}

.indexAbout p{
  color: #F7F7F7;
  letter-spacing: .08em;
  font-weight: 100;
  margin-left: 8px;
  line-height: 1.6em;
}

#indexSection3Path{
  position: absolute;
  bottom: 10px;
  left: 10%;
}


/* -----more page----- */
/* more page (general) */

.moreArticle{
  display: flex;
}

.moreTitle{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* background: #34ACCA; */
}

.moreTitle p{
  /* color: #032B43; */
  color: rgb(245, 245, 245);
  font-weight: 300;
  letter-spacing: .08em;
  z-index: 100; /* 為了在綠色背景之上 */
  margin-bottom: 8px;
  margin-top: 8px;
}

.moreTitle h2{
  /* color: #032B43; */
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: .05em;
  z-index: 100; /* 為了在綠色背景之上 */
}

.moreTitle div{
  position: absolute;
  right: 0;
  top: 0;
  width: 160px;
  height: 128px;
  background: #34ACCA;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, .08);
  border-radius: 1px;
  /* background: #FBCC31; */
}

.moreIntro p{
  padding: 24px;
  color: #032B43;
  letter-spacing: .05em; 
  font-weight: 300;
  line-height: 1.8em; 
}

.moreContentItem{
  display: flex;
  flex-direction: column;
}

.moreListItem{

}

.moreListItemTitle .number{
  color: #34ACCA;
  font-size: 4em;
  letter-spacing: .1em;
  font-weight: 600;
}

.moreListItemTitle .title{
  color: #032B43;
  font-size: 1.4rem; 
  letter-spacing: .05em; 
  font-weight: 400;
  line-height: 2em; 
}

.moreListItemContent p{
  /* color: #032B43; */
  color: #424242;
  letter-spacing: .05em; 
  font-weight: 300;
  line-height: 1.8em; 
}

/* -----product page----- */
/* product page (general) */

.productCard{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .1);
  overflow: hidden;
}

.productCardImage{
  height: 280px;
  overflow: hidden;
  padding: 0;
  object-fit: cover;
  display: flex;
  align-items: center;
}

.productCardImage img{
  width: 100%;
}

.productCardName{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
}

@media screen and (min-width: 576px) {
  .productCardName{
  }
}

.productCardName h6 {
  color: #34ACCA;
  letter-spacing: 0.06rem;
  margin-bottom: 0;
}

@media screen and (min-width: 576px) {
  .productCardName h6{
  }
}

.productCardName .btn-info {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.4px;
  width: auto;
  height: 36px;
  display: inline-flex;
  align-items: center;
  z-index: 100;
  padding: 8px 16px;
  margin-bottom: 0px;
  border-radius: 4px;
}

.productCardName .btn-info img {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

#cardDec {
  position: absolute;
  bottom: 0;
  left: 0;
  width:100%;
  height: 130px;
  background: rgba(42, 172, 204, .1);
  border-radius: 3px;
  -webkit-clip-path: polygon(0 78%, 100% 59%, 100% 100%, 0% 100%);
  clip-path: polygon(0 78%, 100% 53%, 100% 100%, 0% 100%);
}

/* detail page */
/* detail page (general) */

.detailSection {
  height: calc(100vh - 88px);
}

@media screen and (max-width: 576px) {
  .detailSection {
    padding: 0px 12px;
    height: auto;
  }
}

.detailImage {
  width: 100%;
  border: 2px #f7f7f7 solid;
  border-radius: 4px;
  box-shadow: 0px 6px 12px -4px rgba(0, 0, 0, .2);
  object-fit: cover;
  overflow: hidden;
}
  
.detailImage img {
  width: 100%;
  height: auto;
}

.detailInfo {
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 8px 24px 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media screen and (max-width: 576px) {
  .detailInfo {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.detailInfoName {
  position: relative;
  padding-left: 4px;
  margin-bottom: 20px;
}

.detailInfoName h3 {
  color: #34ACCA;
  font-weight: bold;
}

.detailInfoName .btn-contact {
  z-index: 100;
}

.detailInfoFeaturesList {
  padding: 4px 8px;
}

.detailInfoFeaturesListItem {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.detailInfoFeaturesListItem img {
  margin-right: 12px;
}

.detailInfoFeaturesListItem p {
  color: #032B43;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.15px;
  margin-bottom: 0px;
}

.detailInfoContact {
  background-color: #f7f7f7;
  border: 2px dashed #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  margin-top: 8px;
}

.detailInfoContact p {
  color: #808080;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;
  margin: 0;
}

.detailInfoContact a.btn-contact {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.detailInfoContact a.btn-contact img {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

@media screen and (max-width: 576px) {
  .detailInfoContact {
    flex-direction: column;
    align-items: center;
  }

  .detailInfoContact p {
    text-align: center;
    margin-bottom: 8px;
  }
}



/* ---close button--- */
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}

button .close {
  padding: 15px;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
/* ---close button--- */

/* detail page (mobile) */
@media screen and (max-width: 576px) {
  .col-12{
    padding: 0;
  }

  .detailName{
    position: fixed;
    width: 100%;
    bottom: 0;
    border-radius: 0px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, .05);
    padding: 8px 16px 8px 16px;
  }

  .detailName h3{
    font-size: 1.6rem;
  }

  .detailContent{
    padding-bottom: 80px;
  }
  
}

/* -----contact page----- */
/* contact page (general) */

.contact-card{
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 40px;
  height:auto;
}

.btn-info-call{
  top:-23px;
  align-self: center;
  /* z-index: 100; */
}

#contact-title{
  color: #34ACCA;
  font-weight: 500;
  font-size: 1em;
  padding: 24px;

}

#contact-content{
  padding:16px;
  color: #032B43;
  font-weight: 400;
  font-size: 1.2em;
} 
