
/*
 ---guide---
header: 65px
content: pt-5 pb-5
class naming style: 
  col -> offset -> m -> p -> component -> customized
*/

body{
  transition:.25s ease-in-out;
  background-color: #FCFCFC;
  /* background-color: #26547C; */
}

.content{
  margin-top: 65px;
}

.bgWhite{
  background-color: #ffffff;
  /* background-color: #26547C; */
}

.cardStyle{
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .1);
  border-radius: 3px;
  /* padding: 2em; */
}

/* -----header style----- */
/* header style (general) */

.header{
  width: 100%;
}

.navbar{
  height: auto; 
  background-color: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
}

.nav-item{
  align-items: flex-start;
}

.nav-link{
  color: #2AACCC; 
  font-weight: 300;
}

.navbar-toggler, .navbar-toggler:active{
  border: none;
  box-shadow: rgba(0, 0, 0, .0);
}

/* size: mobile */
@media screen and (max-width: 576px) {
  .nav-item{
    height: 40px;
  }

  .navbar-nav{
    padding-top: 20px;
  }

  .navbar-collapse ul li a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: rgba(0,0,0,.05) 1.3px solid;
  }

}

/* -----breadcrumb----- */
/* hidden when less than sm */
.breadcrumb{
  background-color: rgba(0,0,0,0);
}

.breadcrumb-item a{
  color:#2AACCC;
}


/* -----button----- */
/* cta */
.btn-cta{
  background-color: #FBCC31;
  color: #ffffff;
  letter-spacing: .08em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .05);
}

.btn-cta:hover{
  background-color: rgb(240, 194, 45);
  color: #F7F7F7;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, .05);
}

.btn-cta:active{
  background-color: rgb(224, 180, 34);
  color: #F7F7F7;
}


/* -----index page----- */
/* index page (general) */

.indexSlogan{
  font-size:1.8rem; 
  color:#032B43; 
  letter-spacing:.1em;
}

.indexIntro{
  letter-spacing:.05em; 
  font-weight:300;
  line-height:1.8em; 
  color: #032B43;
}

/* index page (mobile) */
@media screen and (max-width: 576px) {

  .indexSlogan{
    font-size:1.3rem; 
  }

  .media{
    display: block;
  }

}


/* -----more page----- */
/* more page (general) */

.moreArticle{
  display: flex;
}

.moreTitle{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* background: #34ACCA; */
}

.moreTitle p{
  /* color: #032B43; */
  color: rgb(245, 245, 245);
  font-weight: 300;
  letter-spacing: .08em;
  z-index: 100; /* 為了在綠色背景之上 */
  margin-bottom: 8px;
  margin-top: 8px;
}

.moreTitle h2{
  /* color: #032B43; */
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: .05em;
  z-index: 100; /* 為了在綠色背景之上 */
}

.moreTitle div{
  position: absolute;
  right: 0;
  top: 0;
  width: 160px;
  height: 128px;
  background: #34ACCA;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, .08);
  border-radius: 1px;
  /* background: #FBCC31; */
}

.moreIntro p{
  padding: 24px;
  color: #032B43;
  letter-spacing: .05em; 
  font-weight: 300;
  line-height: 1.8em; 
}

.moreContentItem{
  display: flex;
  flex-direction: column;
}

.moreListItem{

}

.moreListItemTitle .number{
  color: #34ACCA;
  font-size: 4em;
  letter-spacing: .1em;
  font-weight: 600;
}

.moreListItemTitle .title{
  color: #032B43;
  font-size: 1.4rem; 
  letter-spacing: .05em; 
  font-weight: 400;
  line-height: 2em; 
}

.moreListItemContent p{
  /* color: #032B43; */
  color: #424242;
  letter-spacing: .05em; 
  font-weight: 300;
  line-height: 1.8em; 
}

/* -----product page----- */
/* product page (general) */

.productCard{
  position: relative;
  display: inline-flex;
  margin-left: 65px;
}

.productCardLeft{
  box-shadow: 1px 0px 0px rgba(0, 0, 0, .05);
}

.productCardRight{
  padding: 24px 20px 24px 20px;
}

.productName{
  height: 50px;
  background: #ffffff;
  border-top-left-radius: 3px; 
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.productName h4{
  color: #34ACCA;
  letter-spacing: .04em;
  font-weight: 400;
  margin-bottom: 0;
  margin-left: 15px;
}

.productImage{
  overflow: hidden;
  padding: 0;
  display: flex;
  align-items: center;
}

.productImage img{
  width: 100%;
}

.productList{
  list-style: none;
  padding: 0;
}

.listItem p{
  color: #032B43;
  font-weight: 300;
  display: inline-flex;
  margin-bottom: 8px;
}

.btn-info{
  position: absolute;
  right: 28px;
  bottom: 29px;
  width: auto;
  height: 40px;
  background: #2AACCC;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .1);
  display: inline-flex;
  align-items: center;
  z-index: 100;
}

.btn-info p{
  margin-bottom: 0px;
  padding-right: 5px;
}

#cardDec{
  position: absolute;
  bottom: 0;
  left: 0;
  width:100%;
  height: 130px;
  background: rgba(42, 172, 204, .1);
  border-radius: 3px;
  -webkit-clip-path: polygon(0 78%, 100% 59%, 100% 100%, 0% 100%);
  clip-path: polygon(0 78%, 100% 53%, 100% 100%, 0% 100%);
}

/* product page (mobile) */
@media screen and (max-width: 576px) {
  .productCard{
    margin-left: 0px;
  }

  .productImage{
    height: 160px;
  }

  .btn-info{
    /* right: 28px; */
    /* bottom: 29px; */
    width: 48px;
    height: 48px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .1);
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
  }

  .productList{
    padding: 30px;
  }
}


/* detail page */
/* detail page (general) */

.detailSection{
  height: 500px;
} /* 有待更改，應和螢幕高度相同*/

.detailImage{
  /* padding: 8px; */
  /* border: #34ACCA 4px solid; */
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .1);
  width: 100%;
  height: auto;
}

.detailName{
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .1);
  padding: 16px 24px 16px 24px;
  flex-direction: column;
  position: relative;
}

.detailName h3{
  /* color: #424242; */
  color: #34ACCA;
  font-weight: 400;
}


.detailName p{
  margin-bottom: 0;
  /* color: #34ACCA; */
  color: #424242;
  font-weight: 300;
}

.btn-contact{
  position: absolute;
  top: 22px;
  right: 20px;
  z-index: 100;
}

.btn-contact-sm{
  width: 48px;
  height: 48px;
  bottom: 15px;
  right: 15px;
  border-radius: 100px;  
  position: absolute;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .1);
  z-index: 100;
}

.detailContent{
  flex-direction: column;
  padding: 0 24px 0 24px;
}

.detailContentTitle{
  /* background: #f5f5f5; */
  /* border-bottom: #F5F5F5 2px solid; */
  padding: 16px 0px 16px 0px ;
  /* font-size: 1.1em;  */
  font-weight: 400;
}

.divider{
  background: #f5f5f5;
  height: 3px;
  width: 100%;
}

.detailContentIntro{
  line-height: 1.8em;
  padding: 24px 0px 24px 0px ;
  color: #424242;
  font-weight: 300;
}

/* ---close button--- */
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}

button .close {
  padding: 15px;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
/* ---close button--- */

/* detail page (mobile) */
@media screen and (max-width: 576px) {
  .col-12{
    padding: 0;
  }

  .detailSection{
    /* height: 400px; */
    flex-direction: column;
  }

  .detailName{
    position: fixed;
    width: 100%;
    bottom: 0;
    border-radius: 0px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, .05);
    padding: 8px 16px 8px 16px;
  }

  .detailName h3{
    font-size: 1.6rem;
  }

  .detailContent{
    padding-bottom: 80px;
  }
  
}


/* -----contact page----- */
/* contact page (general) */

.contact-card{
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 40px;
  height:auto;
}

.btn-info-call{
  top:-23px;
  align-self: center;
  /* z-index: 100; */
}

#contact-title{
  color: #34ACCA;
  font-weight: 500;
  font-size: 1em;
  padding: 24px;

}

#contact-content{
  padding:16px;
  color: #032B43;
  font-weight: 400;
  font-size: 1.2em;
} 
